<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mousqueton</title>
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="../static/assets/css/mousqueton.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li> <a href="index.html">Accueil</a> </li>
            <li> <a href="sites.html">Liste des Sites</a> </li>
            <li> <a href="proposer-site.html">Proposer un Site</a> </li>
            <li class="active"> <a href="rechercher-site">Rechercher un Site</a> </li>
            <li> <a href="topos.html">Topos</a> </li>
            <li> <a href="mes-topos.html">Proposer un Topo au prêt</a> </li>
            <li> <a href="emprunter-topo.html">Emprunter un Topo</a> </li>
          </ul>
           <form class="navbar-form navbar-right inline-form">
            <div class="form-group">
              <label for="login" hidden>Login</label>
              <input type="text" class="input-sm form-control" placeholder="login" id="login">
              <label for="motdepasse" hidden>Mot de Passe</label>
              <input type="password" class="input-sm form-control" placeholder="mot de passe" id="motdepasse">
              <button type="submit" class="btn btn-primary btn-sm">Se connecter</button>
            </div>
          </form>

        </div>
      </nav>
       <header class="page-header">
        <h1>Mousqueton, partageons nos spots !</h1>
      </header>
      <div class="row">
        <div class="col-lg-12 hidden-xs"><img src="../static/img/img/climbing-2609319_960_720.jpg" alt="Escalade d'un rocher en forêt" class=img-thumbnail></div>
        <div class="col-lg-12 visible-xs"><img src="../static/img/img/climbing-2609319_petit.jpg" alt="Escalade d'un rocher en forêt" class="img-thumbnail"></div>
      </div>
     </div>
  </body>
</html>